@model IEnumerable<KryzhevKersach.Models.Ticket>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.condition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idRoute)
        </th>
               @if (Roles.GetRolesForUser().Contains("Dispetcher")) {
        <th>
            @Html.DisplayNameFor(model => model.idUser)
        </th>
               }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if ((item.idUser == WebSecurity.CurrentUserId) && (Roles.GetRolesForUser().Contains("Client")))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idRoute)
            </td>  
            @if (Roles.GetRolesForUser().Contains("Dispetcher")) {      
            <td>
                @Html.DisplayFor(modelItem => item.idUser)
            </td>
            }
            <td>
                @Html.ActionLink("Удалить", "Delete", new { id = item.IdTicket })
                @if (item.condition == "Одобрен")
                {
                    @Html.ActionLink("Купить билет", "Edit", new { id = item.IdTicket })
                }
            </td>
        </tr>
        }
        if (Roles.GetRolesForUser().Contains("Dispetcher") || (Roles.GetRolesForUser().Contains("Administrator")))
        {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idRoute)
            </td>
                @if (Roles.GetRolesForUser().Contains("Dispetcher")) {
            <td> 
                @Html.DisplayFor(modelItem => item.idUser)
            </td>
                }
            <td>
                @if (Roles.GetRolesForUser().Contains("Dispetcher"))
                {
                    @Html.ActionLink("Изменить", "Edit", new { id = item.IdTicket })
                }
            </td>
        </tr>
        }
        
    }


</table>
